@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
  }
body
  {
    background: #fff0e1;;
    margin: 0px 0px 0px 0px;
    overflow-x: hidden;
    display: grid;
      grid-template-rows: auto 1fr auto;
      grid-template-columns: 1fr;
  
}
main {
    margin: 0px 10px 0px 15%;
    width: 70%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: large;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fae2ca;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question img  {
    display: block;
    margin: 10px auto;
    max-width: 300px;
    border-radius: 5px;
    width: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.question img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.submitQuiz {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitQuiz button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#quizResult {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
}
#resultImage {
    width: 50%;
}
/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .question img {
        max-width: 80%; /* Сужение изображений для мобильных */
    }
}

@media (max-width: 480px) {
    .question img {
        max-width: 100%; /* Изображения занимают всю ширину на маленьких экранах */
    }
}
