@import url("footer.css");
@import url("header.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body {
    background: #fff0e1;
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
main {
    margin: 0 15%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fae2ca;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question img  {
    display: block;
    margin: 10px auto;
    max-width: 300px;
    border-radius: 5px;
    width: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.question img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#quizResult {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
}
#resultImage {
    width: 50%;
}
/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .question img {
        max-width: 80%; /* Сужение изображений для мобильных */
    }
}

@media (max-width: 480px) {
    .question img {
        max-width: 100%; /* Изображения занимают всю ширину на маленьких экранах */
    }
}
